
</div>
<!--Fermeture div container-->

<footer class="container-fluid">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="View/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="View/script/script.js"></script>
    <script type="text/javascript" src="View/script/scriptclient.js"></script>
    <script type="text/javascript" src="View/bootstrap-3.3.7-dist/js/datatables.js"></script>

    <script type="text/javascript" src="View/bootstrap-3.3.7-dist/js/npm.js"></script>
    <script type="text/javascript" src="View/bootstrap-3.3.7-dist/js/appel_table.js"></script>
</footer>


</body>

</html>