<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="View/img/favicon.ico" />
    <title>Votre espace client</title>
    <link rel="stylesheet" href="View/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="View/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="View/bootstrap-3.3.7-dist/css/datatables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="View/css/styleadmin.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css" />
    <script src="View/script/jquery-3.2.1.min.js"></script>

</head>
