<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8" />

    <title>Votre espace client</title>
    <link rel="stylesheet" href="View/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="View/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="View/css/style.css">
    <script src="View/script/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
