<div class="main container">
<!--    <div class="col-xs-1"></div>-->
    <div class="col-xs-4 login">
        <h1>Vous êtes déjà membre ?</h1><br>
        <form action="index.php?Controller=Home&action=connection" method="post">
            <input type="text" id="lofginform" name="loginform" placeholder="Adresse mail" required="required" /><br><br>
            <input type="password" id="passwordform" name="passwordform" placeholder="Password" required="required" /><br><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>
        </form>
    </div>
    <div class="col-xs-4">
        <h1>Connexion à partir de votre Compte Google !</h1><br>
        <form action="#" method="post">
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Connexion</button>
        </form>
    </div>
    <div class="col-xs-4 login">
        <h1>C'est votre première commande ?</h1><br>
        <form id='premiereconnex' action="index.php?Controller=Home&action=premiereconnection" method="post">
            <input type="text" id="lofginformpremiere" name="lofginformpremiere" placeholder="Adresse mail"><span id='missmail'></span><br><br>
            <input type="password" id="passwordformpremiere" name="passwordformpremiere" placeholder="Votre mot de passe"><span id="misspass"></span><br><br>
            <input type="text" id="nomfamille" name="nomfamille" placeholder="Votre nom" /><span id="missnom"></span><br>
            <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" /><br>
            <input type="text" id="adresse1" name="adresse1" placeholder="Votre adresse" /><br>
            <input type="text" id="codepostal" name="codepostal" placeholder="Votre codepostal" /><br>
            <input type="text" id="ville" name="ville" placeholder="Votre ville" /><br>
            <input type="text" id="tel" name="tel" placeholder="Votre téléphone" /><br>

            <button type="button" id="premconnex" class="btn btn-primary btn-block btn-large">Se connecter</button>

        </form>
    </div>


<!--    <div class="col-xs-1"></div>-->
</div>

<!---->
