
.row{
    font-size:1em;
    margin:5px;
}


#refproduit{
    display:block;
    float :left;
}
#ajoutrefproduit{
    display:block;
    float :right;
}
#modalbody {
    line-height: 50px;
}
#ajoutcheckbox{
    float :right;
    margin-left:20px;
}