
.row{
    font-size:1em;
    margin:5px;
}


#refproduit{
    display:block;
    float :left;
}
#ajoutrefproduit{
    display:block;
    float :right;
}
/*#contenumodalbody {*/
    /*line-height: 10em;*/
/*}*/
.soulignement {
    line-height: 2em;
    border-bottom: outset 1px rgba(125,112,89, 0.4);
}
#ajoutcheckbox{
    float :right;
    margin-left:20px;
}